* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-md-"] {
  float: left;
  padding: 10px;
  border:none;
}

html {
  font-family: "Lucida Sans", sans-serif;
}

.topdiv1 {
    position: fixed;
    top: 1px;
    width: 50%;
    height: 65px;
    border: 1px solid green;
    background-color: lightgray;
    z-index: 1000;
    left:0;
    padding: 1px 10px 1px 10px;
}
.topdiv2 {
    position: fixed;
    top: 1px;
    width: 50%;
    height: 65px;
    border: 1px solid green;
    background-color: lightgray;
    z-index: 1000;
    right: 0;
    padding: 1px 10px 1px 10px;
}
.myads {
  border: 5px outset #3572EF;
  background-color: lightblue;    
  text-align: center;
  max-height:110px;
}
.header{width:100%;height:120px; background-color:#111157; padding:10px;margin-top:0px;border-top: 0px solid red;}
.logo{width:170px; height:110px;}
.navbar{width:100%;height:50px;background-color:#758209; margin-top:10px;overflow: hidden;}
.left-panel{width:75%; background-color:#fff;float:left;border: 5px solid #3572EF;}
.right-panel0{width:23%;  background-color:#fff;float:right;overflow:hidden;border:1px solid green;margin:10px 1px 0px 1px;}
.right-panel{ background-color:#fff;float:right;overflow:hidden;margin:10px 1px 0px 1px;}
.right-panel1{width:23%;position:fixed;background-color:#fff;float:right;overflow:hidden;border:1px solid green;top:80px;right:10px; display: none;}
/*.right-panel.fixed {width:23%;background-color:#fff;float:right;overflow:hidden;border:1px solid green;top:80px;right:10px;}*/
.footer{width:100%;background-color:#111157; color:#fff; margin-top:10px;border-top:1px solid #030ffc;bottom:10px;text-align:left;padding:10px;}
@media (min-width: 769px) {.right-panel2{display:none;}
    /*col size #79d17b */
  .col-md-1 {width: 8.33%;}
  .col-md-2 {width: 16.66%;}
  .col-md-3 {width: 25%;}
  .col-md-4 {width: 33.33%;}
  .col-md-5 {width: 41.66%;}
  .col-md-6 {width: 50%;}
  .col-md-7 {width: 58.33%;}
  .col-md-8 {width: 66.66%;}
  .col-md-9 {width: 75%;}
  .col-md-10 {width: 83.33%;}
  .col-md-11 {width: 91.66%;}
  .col-md-12 {width: 100%;}
}
/* Responsive Styles */
@media (max-width: 768px) {
    .topdiv1 {
        position: fixed;
        top: 1px;
        width: 100%;
        padding: 1px 10px 1px 10px;
        height: 65px;
        border: 1px solid green;
    }

    .topdiv2 {
        display: none;
    }
    
    .right-panel,.right-panel1 {
        display: none !important;
    }
    .left-panel{width:100%; background-color:#fff;float:left;border: 5px solid red;}
    .right-panel0{width:100%;  background-color:#fff;float:right;overflow:hidden;border:1px solid green;margin:10px 1px 0px 1px;}
    .right-panel2{width:98%;  background-color:#fff;float:right;overflow:hidden;border:1px solid green;margin:10px 1px 0px 1px;} 
  .col-md-1 {width: 50%;}
  .col-md-2 {width: 50%;}
  .col-md-3 {width: 100%;}
  .col-md-4 {width: 100%;}
  .col-md-5 {width: 100%;}
  .col-md-6 {width: 100%;}
  .col-md-7 {width: 100%;}
  .col-md-8 {width: 100%;}
  .col-md-9 {width: 100%;}
  .col-md-10 {width: 100%;}
  .col-md-11 {width: 100%;}
  .col-md-12 {width: 100%;}
}

.btn-blue {
  background: #003366;color: #fff;
  border: none;
  border-radius: 0;
  padding: 10px 25px;
  text-decoration:none;
  border: 1px solid transparent;
  -moz-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  -webkit-transition: all, 0.3s;
  transition: all, 0.3s;
}
.btn-blue:hover {
  background: #fff;
  color: #1f76bd;
  border: 1px solid #1f76bd;
}

.btn-red {
  background: #ff0000;color:#fff;
  border: none;
  border-radius: 0;
  padding: 10px 25px;
  text-decoration:none;
  border: 1px solid transparent;
   -moz-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  -webkit-transition: all, 0.3s;
  transition: all, 0.3s;
  
}
.btn-red:hover {
  background: #fff;
  color: #ff0000;
  border: 1px solid #ff0000;
}

.btn-green {
  background:  #73AD21; color:#fff;
  border: none;
  border-radius: 0;
  padding: 10px 25px;
  text-decoration:none;
  border: 1px solid transparent;
  -moz-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  -webkit-transition: all, 0.3s;
  transition: all, 0.3s;
}
.btn-green:hover {
  background: #fff;
  color: #1f76bd;
  border: 1px solid #1f76bd;
}
.btn-brown {
  background:  #960003; color:#fff;
  border: none;
  border-radius: 0;
  padding: 10px 25px;
  text-decoration:none;
  border: 1px solid transparent;
  -moz-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  -webkit-transition: all, 0.3s;
  transition: all, 0.3s;
}
.btn-brown:hover {
  background: #fff;
  color: #1f76bd;
  border: 1px solid #1f76bd;
}
.top-button {
            position: fixed;
            bottom: 20px;
            right: 20px;
            background-color: #4CAF50;
            color: white;
            border: none;
            padding: 15px;
            font-size: 16px;
            cursor: pointer;
            border-radius: 50%;
            display: none; /* Hidden by default */
            transition: background-color 0.3s;
        }

        .top-button:hover {
            background-color: #45a049; /* Darker green on hover */
        }

        /* Show the button when the page is scrolled down */
        .top-button-visible {
            display: block;
        }
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 8px;
  font-size:18px;
}

tr:nth-child(even){background-color: #f2f2f2}
